.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--p1);
  overflow: hidden;
}

.depoimento img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right;
  border-radius: 0px;
}

.depoimento-conteudo {
  padding: 80px 40px 40px 80px;
  align-self: end;
}

.depoimento-conteudo p {
  margin-bottom: 32px;
  max-width: 24ch;
  /* font-family: 'Roboto Slab'; */
  position: relative;
}

.depoimento p::before,
.depoimento p::after {
  font-size: 5rem;
  color: var(--p2);
  position: absolute;
}

.depoimento p::before {
  content: "“";
  left: -40px;
  top: -32px
}

.depoimento p::after {
  content: "”";
}

@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .depoimento img {
    max-height: 200px;
  }
  .depoimento-conteudo {
    padding: 40px 20px;
    justify-self: center;
  }
}